/*  _biography.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */

#biography
  +flex(flex, center, center, wrp)
  padding: 50px 10% 200px

#arrow-left, #arrow-right
  flex: 0 0 auto
  width: 40px
  height: 40px

  .arrow-1
    transition: fill 0.3s
  
  &:hover

    .arrow-1
      fill: $site-red
  

#arrow-left
  padding-right: 130px

#arrow-right
  padding-left: 130px

#writeups
  flex: 0 0 50%
  +flex(flex, space-between, flex-start, nowrap)
  overflow: hidden

  .writeup
    flex: 0 0 calc(100% - 40px)
    height: 100%
    padding-left: 20px
    padding-right: 20px


/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4  */

#biography
  background-color: $site-darkgrey

#arrow-right
  transform: rotate(270deg)

#arrow-left
  transform: rotate(90deg)

#writeups

  p
    font-size: $font-sx2
    line-height: 1.5em