/*  _contact.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */

#forms
  padding-top: 75px
  padding-bottom: 20vh

  form, .wpcf7 form p
    +flex
    flex-direction: column
    width: 80vw
    margin: 0 auto

    +medium
      width: 800px

    textarea
      flex: 0 0 150px


#f-submit, .wpcf7-form-control-wrap .textarea-89
  flex: 0 0 40px
  align-self: flex-end
  width: 100px
  margin-top: 20px


#f-fullname, #f-email, #f-notes
  flex: 0 0 50px
  width: 100%

#f-fullname, #f-email
  padding-top: 10px
  padding-bottom: 10px
  height: 40px

.wpcf7-form-control-wrap.text-26, .wpcf7-form-control-wrap.email-925, .wpcf7-form-control-wrap.textarea-89
  flex: 0 0 50px
  width: 100%

#f-notes, 
  padding-top: 15px
  overflow: hidden

#onSubmit
 text-align: center
 margin-top: 50px
 margin-bottom: -65.5px

.wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors, .wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok
  margin-left: auto
  margin-right: auto

.wpcf7-form-control-wrap .wpcf7-not-valid-tip
  margin-bottom: 10px

/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4  */

#forms
  background-color: $site-darkgrey

  form, .wpcf7

    input, textarea
      background-color: $site-darkgrey
      border-top: 2px solid $site-white
      border-left: 0
      border-right: 0
      border-bottom: 0
    
    #f-submit
      color: $site-red
      border: 2px solid $site-white
      text-transform: uppercase
      letter-spacing: 0.1em
      transition: color 0.2s, background-color 0.1s

      &:hover
        color: $site-darkgrey
        background-color: $site-white


#f-fullname, #f-email, #f-notes
  @extend .font-sweet-m
  color: $site-white
  text-transform: uppercase
  letter-spacing: 0.1em

  +placeholder
    color: $site-white
    font-size: $font-bx1


#onSubmit
  @extend .font-chron-di
  text-transform: initial
  letter-spacing: 0.15em
  color: $site-white

.wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors, .wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok
  @extend .font-sweet-m
  color: $site-white
  font-size: $font-sx1
  text-transform: uppercase
  letter-spacing: 0.1em
  border: none


.wpcf7-form-control-wrap .wpcf7-not-valid-tip
  @extend .font-sweet-m
  color: $site-red
  font-size: $font-sx3
  text-transform: uppercase
