/* URI */
$uri: "/buffalo-heights-district-dynamic/content/themes/bhdDynamic/"

/* Colors */

// $site-black: #4E4E56
// $site-cold: #C8C8C8
// $site-cream: #F7F6F5
// $site-ghost: #FDFBF9
// $site-white: #fff
// $site-red: #EC5A4F
// $site-darkred: #C14A36

/* Font Sizes & Fonts */

$font-small: 0.6em  
$font-sx1: 0.7em
$font-sx2: 0.9em
$font-body: 18px
$font-bx1: 1.2em  
$font-bx2: 1.6em  
$font-bx3: 2em
$font-bx4: 2.3em
$font-bx5: 2.7em
$font-xl: 3em
$font-xlx1: 3.3em

// .font-g-m
//   font-family: 'Geogrotesque W01 Medium1185174'

// .font-g-sb
//   font-family: 'GeogrotesqueW01-Semibol1185180'

// .font-g-b
//   font-family: 'Geogrotesque W01 Bold' 

// .font-hs-i
//   font-family: 'HumstSlab712 BT W00 Italic' 
//   font-style: italic
//   font-weight: 400

// .font-hs-b
//   font-family: 'HumanistSlab712W01-Bold' 