/* Resets & Tools */

@import 'reset'

@import 'variables'

@import 'mixins'

/* SITE CONTEXT -> Global styles */

h1, h2, h3, h5
  @extend .font-sweet-m
  text-transform: uppercase
  letter-spacing: 0.1em

p
  @extend .font-goth-b
  line-height: 1.5em
  letter-spacing: 0.05em
  color: $site-white

html 


body


img
  width: 100%


@import 'head'

@import 'main'

@import 'bio'

/* Global classes extended */